SpotiLike/test.py
SpotiLike/spotilikesuper.py
credentials.py
assets/dark_eerie.ico
assets/dc.ico
assets/hardstyle.ico
assets/hyperpop.ico
exe/
.cache
setup.iss
SpotiLike/build/
SpotiLike/exe/
test.py
SpotiLike/notes.md
test/
my-spotilike-config.ini