SpotiLike_v1/test.py
SpotiLike_v1/spotilikesuper.py
credentials.py
assets/dark_eerie.ico
assets/dc.ico
assets/hardstyle.ico
assets/hyperpop.ico
exe/
.cache
setup.iss
SpotiLike_v1/build/
SpotiLike_v1/exe/
test.py
SpotiLike_v1/notes.md
test/
my-spotilike-config.ini
readme/
SpotiLike_v1/test/
SpotiLike_v2/utils/update.py
SpotiLike_v2/build/